@charset "UTF-8";

* {
margin: 0;
padding: 0;
}
body{
    height: 200vh;
}
#fundoMenu{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 10vh;
    left:-1.5rem;
}
#menuSuperior{
    position: relative;
    top: 10vh;
}
#menuOculto{
    position: fixed;
    top: -1000px;
}
#menuOculto div{
    height: 100%;
    width: 100vw;
}
#btn-menu{
    position: relative;
    right: 40px;
}