.containerFooter {
   background-image: linear-gradient(to top, #fda616, #febc34);
   border-top: 1px solid black;
   box-shadow: 0 0 10px black;
   overflow: hidden;
}

.footer2 {
   background-image: linear-gradient(to top, #fda616, #febc34);
   overflow: hidden;
   color: black;
   font-weight: bold;
   text-align: center;
   padding-top: 20px;
}
.social{
   text-align: center;
   display: flex;
}
.logoFooter{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 80px;
}
.socialLinks{
   padding: 20px;
   margin: 20px;
   display: flex;
   flex-direction: column;
}
.socialLinks div {
   margin: 10px;
}
